<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= `${error.statusCode} ${error.title}` %></title>
  </head>
  <body>
    <div><%= error.title %></div>
    <div><%= error.message %></div>
    <% if (error.statusCode === 404) { %>
    <a href="/">Return to Homepage</a>
    <% } %>
  </body>
</html>
