<footer>
    <div class="footer-container">
      <div>Genres Images: </div>
      <div class="credits">
        <a href="https://www.pexels.com/fr-fr/photo/photo-of-mountain-with-ice-covered-with-black-and-gray-cloud-640781/">Action/Adventure</a>
        <div>Biography image by <a href="https://pixabay.com/users/alexas_fotos-686414/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=718654">Alexa</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=718654">Pixabay</a></div>
        <a href="https://www.pexels.com/fr-fr/photo/an-opened-old-book-161366/">Classic</a>
        <a href="https://www.pexels.com/fr-fr/photo/gray-and-black-alien-drawing-16516/">Comic/Graphic Novel</a>
        <a href="https://pixabay.com/fr/illustrations/dystopie-ville-apocalypse-ruines-6670405/">Dystopian</a>
        <div>Essay image by <a href="https://pixabay.com/fr/users/ihtar-11907556/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4782376">Светлана Бердник</a> from <a href="https://pixabay.com/fr//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4782376">Pixabay</a></div>
        <div>Fantasy image by <a href="https://pixabay.com/fr/users/tarcísio_-13357697/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5446645">Tarcísio Tar</a> from <a href="https://pixabay.com/fr//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5446645">Pixabay</a></div>
        <div>Historical photo by <a href="https://www.pexels.com/photo/photo-de-paysage-de-stonehenge-2716774/">Stephen + Alicia</a></div>
        <div>Horror photo by <a href="https://www.pexels.com/photo/deux-jack-o-lanternes-619424/">Toni Cuenca</a></div>
        <div>Mystery image by <a href="https://pixabay.com/users/mila-del-monte-14430330/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4660940">Thanks for your recognition • Donations ♡ welcome</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4660940">Pixabay</a></div>
        <div>Poetry photo by <a href="https://www.pexels.com/photo/texte-noir-sur-fond-gris-261763/">Pixabay</a></div>
        <div>Romance image by <a href="https://pixabay.com/users/abbasnaseem78-7948568/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3134063">naseem abbas naqvi</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3134063">Pixabay</a></div>
        <div>Science Fiction photo by <a href="https://www.pexels.com/photo/illustration-de-la-galaxie-rouge-et-orange-41951/">Pixabay</a></div>
        <div>Thriller photo by <a href="https://www.pexels.com/photo/lumineux-leger-route-aube-4483237/">Andreas Marquardt</a></div>
        <div>Children's books image by <a href="https://pixabay.com/users/bellahu123-10783290/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8783348">Bella H.</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8783348">Pixabay</a></div>
        <div>Template: Photo by <a href="https://www.pexels.com/photo/livre-ouvert-sur-surface-violette-1392854/">Designecologist</a></div>
      </div>
    </div>
    <div class="footer-container">
      <div>Icons:</div>
      <div class="credits">
        <a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by Pixel perfect - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/minus" title="minus icons">Minus icons created by Freepik - Flaticon</a>
      </div>
    </div>
  </div>
</footer>