/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Common Properties */

:root {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --section-title-padding: 3.5rem 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  text-align: center;
  font-size: 3.5rem;
  padding: var(--section-title-padding);
  background-color: #eff6ff;
  position: sticky;
  z-index: 1;
  top: 0;
}

main {
  padding: 0 2.5rem;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

input,
textarea {
  padding: 0.25rem;
}

a {
  color: #0c4a6e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  color: #14b8a6;
  outline: 2px solid #0369a1;
  border-radius: 2px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  display: block !important;
}

/* Common Styles */

.background-font {
  background-color: aliceblue;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    aliceblue 0,
    transparent 30px,
    #bae6fd 100px
  );
  opacity: 0.15;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.formbtn {
  position: relative;
  background: linear-gradient(to right, #fafafa 30%, #fef2f2);
  justify-self: center;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #f8fafc;
  grid-column: 1 / 3;
  z-index: 1;
}

.formbtn::before {
  position: absolute;
  content: '';
  opacity: 0;
  background: linear-gradient(to right, #bae6fd, #f5f5f4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  animation: buttonAnimation 2s alternate linear infinite;
  filter: blur(3px);
}

.formbtn:hover::before {
  opacity: 1;
}

.form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 3rem;
  padding: 1rem;
  font-size: 2rem;
}

.form-grid > form {
  grid-column: 1 / 3;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.plusimg,
.minusimg {
  width: 3rem;
}

@keyframes buttonAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
